*{
  margin: 0;
}

body{
  border-color: #f5f6fa;
  align-items: center;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_left{
  flex: 0.9;
}
.app_right{
  justify-content: space-evenly;
}

.app_header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_stats{
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 790px){
  .app{
    flex-direction: column;
  }
}
